<% if data["message"] == "city not found" %>
  <div class="card-container col-md-12">
    <div class="detail-title">
        <%= link_to "<--- Go Back", root_path %> <b>Please go back and enter a real city's name </b>
    </div>
  </div>

<% else %>
  <div class="card-container col-md-12">
  <%= link_to "<--- Go Back", root_path %> 
    <div class="detail-title">
      <i><%= data['city']['name'] %></i> Weather Forecast
    </div>
  <div class="card-group">
    <% data['list'].each do |day| %>
      <div class="card col-md-3 card-design">
          <div class="card-block">
            <h4 class="card-title"><%= Time.at(day['dt']).strftime('%e %b %Y ') %></h4>
            <p class="card-text"><b>Min:</b> <%=day['temp']['min']  %></p>
            <p class="card-text"><b>Max:</b> <%=day['temp']['max'] %></p>
            <p class="card-text"><small>Unit Default: Kelvin</small></p>
        </div>
        <div class="card-footer">
          <%= link_to "More Details+", weather_per_day_path(day), method: :get %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
<% end %>
