<div class="col-md-3">
  <div style="float: right;">
    <%= link_to "<--- Go Back", request.referer %>
  </div>
</div>
<div class="container col-md-6">
  <div class="detail-title">
    <i><%= DateTime.strptime(params['dt'],'%s').strftime('%e %b %Y ') %></i> Weather Forecast
  </div>
  <ul class="list-group" style="text-align: center;">
    <li class="list-group-item list-group-item-success"><b>Weather: </b><%= params['weather'][0]['description']%></li>
    <li class="list-group-item list-group-item-info"><b>Cloud cover: </b><%=params['clouds']%> %</li>
    <li class="list-group-item list-group-item-warning"><b>Humidity: </b><%=params['humidity']%> %</li>
    <li class="list-group-item list-group-item-info"><b>Wind Speed: </b><%=params['speed']%> meter/sec</li>
    <li class="list-group-item list-group-item-warning"><b>Wind Direction: </b><%=params['deg']%> degrees</li>
  </ul>
</div>
<div class="col-md-3">
</div>
