<div class="col-md-4">
</div>
<div class="col-md-4">
  <div class="jumbotron">
    <%= form_tag("/weather", method: "get") do %>
      <%= label_tag(:q, "Enter city:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("fetch") %>
    <% end %>
  </div>
</div>
<div class="col-md-4">
</div>

